<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.fathens.cordova.plugin.aws.s3" version="0.3.2" xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Fabric</name>
    <description>Cordova Plugin for AWS S3</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova-android" version=">=6.0.0" />
        <engine name="cordova-ios" version=">=4.3.0" />
    </engines>

    <preference name="AWS_S3_BUCKET_NAME" />

    <js-module name="AWSS3Plugin" src="www/s3.js">
        <clobbers target="plugin.AWS.S3"/>
    </js-module>

    <dependency id="org.fathens.cordova.plugin.aws.core" url="https://github.com/fathens/cordova-plugin-aws-core.git" commit="master" />

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="application">
            <meta-data android:name="org.fathens.aws.s3.bucket" android:value="$AWS_S3_BUCKET_NAME"/>
        </config-file>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AWSS3Plugin">
                <param name="android-package" value="org.fathens.cordova.plugin.aws.AwsS3"/>
            </feature>
        </config-file>

        <source-file src="platforms/android/src/main/kotlin/AwsS3.kt" target-dir="kotlin/org.fathens.cordova.plugin.aws"/>

        <framework src="platforms/android/plugin.gradle" custom="true" type="gradleReference"/>
    </platform>

    <platform name="ios">
        <config-file target="*-Info.plist" parent="CordovaAWS">
            <dict>
                <key>S3BucketName</key>
                <string>$AWS_S3_BUCKET_NAME</string>
            </dict>
        </config-file>

        <config-file parent="/*" target="config.xml">
            <feature name="AWSS3Plugin">
                <param name="ios-package" value="AwsS3"/>
            </feature>
        </config-file>

        <source-file src="platforms/ios/src/AwsS3.swift"/>

        <framework src="AWSS3" type="podspec" spec="~> 2.4.16">
            <bridging-header import="AWSS3/AWSS3.h" />
        </framework>
    </platform>
</plugin>
